.container > .row {
  margin: 0;
}

canvas.result-canvas {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

.webcam-row {
  position: absolute;
  bottom: 0;
}
video.webcam-stream{
  width: 240px;
  display: block;
  border: 2px solid #FFFFFF;
}
