 <div class="col-md-12">
    <h1 class="text-center">
      <span>YaC</span>
      <span>
      <img class="logo" src="assets/images/logo.svg" alt="Logo">
    </span>
      <span>Vi</span>
    </h1>
   <div class="col-md-6 col-centered">
     <h4 class="text-justify text-white introduction mb-4" [innerHTML]="'views.login.content.introduction' | translate"></h4>
   </div>
   <div class="text-center m-5">
     <button (click)="login()" type="button" class="btn btn-lg btn-primary">{{ 'views.login.buttons.kionLogin' | translate }}</button>
   </div>
   <div class="col-md-6 col-centered">
     <h4 class="text-justify text-white description" [innerHTML]="'views.login.content.description' | translate"></h4>
   </div>
  </div>


